:root {
    --main-background: hsl(220 25% 10%);
    --font-color: white;

    --link-color: var(--font-color);
    --link-color-hover: deeppink;


    --main-nav-background: hsl(220 0% 0%);
    --main-nav-width: 200px;
    --main-nav-width-small: 50px;
    --main-nav-icon-size: 30px;

    --upgrade-bar-background: hsl(220 25% 10% / 0.8);
    --upgrade-bar-height: 100px;

    --player-background: hsl(0 0% 16%);
    --player-height: 100px;
}

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


body {
    color: var(--font-color);
}

.app-wrapper {
    display: grid;
    grid-template:
        "aside main " 1fr
        "play play" var(--player-height) / var(--main-nav-width) 1fr;
    height: 100dvh;
}

/* Main nav */

.main-nav {
    grid-area: aside;
    background-color: var(--main-nav-background);
    width: var(--main-nav-width);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main-nav .playlist {
    overflow: auto;
    flex: 1;
}

.main-nav svg {
    fill: var(--font-color);
    width: var(--main-nav-icon-size);
    height: var(--main-nav-icon-size);
}

.link-item a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-nav a {
    color: var(--link-color);
    text-decoration: none;
}

.main-nav a:hover {
    color: var(--link-color-hover);
}

.main-nav a:hover svg {
    fill: var(--link-color-hover);
}

@media(max-width: 600px) {
    :root {
        --main-nav-width: var(--main-nav-width-small);
    }

    .main-nav .item-text {
        display: none;
    }
}

/* Content */

main {
    grid-area: main;
    background-color: var(--main-background);
    overflow: auto;
    overscroll-behavior: none;
}

main .upgrade-bar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    height: var(--upgrade-bar-height);
    background-color: var(--upgrade-bar-background);
}

/* Footer */

.player {
    grid-area: play;
    background-color: var(--player-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}